*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Navigation */

.nav {
    padding: 40px 0;
}

.nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__logo {
    margin-right: 83px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #000;
}

.nav__logo:hover {
    color: #f72464;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    margin-right: 30px;
    font-style: 18px;
}

.nav__item:last-child {
    margin-right: 0;

}

.nav__link {
    text-decoration: none;
    color: #000;
}

.nav__link:hover {
    color: #f72464;
}

.nav__cart {
    margin-left: auto;
}

.nav__cart-link {
    position: relative;
    padding: 5px;
    display: inline-block;
    
}

.nav__cart-number {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FFF;
    background-color: #F72464;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

/* Header */
.header {
}


.header__row {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.header__content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 670px;
}

.header__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    margin-bottom: 20px;
}

.header__text {
    font-size: 22px;
    line-height: 1.5; /* 33px */
    margin-bottom: 60px;
}

.header__btn {
    
}

.btn {
    display: inline-block;
    padding: 11px 33px 14px;
    background-color: #F72464;
    box-shadow: 0 4px 15px 0 rgba(123, 12, 46, 0.35);
    border-radius: 4px;

    
    
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #FFF;

    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.btn:hover {
    box-shadow: 0 4px 25px rgba(184, 13, 64, 0.671);
    background-color: #ff3874;
}


.header__photo {
}

/* Main */
.featured-section {
    padding-top: 60px;
    padding-bottom: 70px;

}

/* Section header */

.section-header {
    margin-bottom: 40px;
}

.section-header__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #000;
}

.section-header__description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #999;
}

.section-header__description p {
    margin-top: 0;
}

/* Product */
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.product-link {
    display: inline-block;
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.product-link:hover {
    opacity: 0.8;
}


.product {
    max-width: 270px;
    text-align: center;
}

.product__img {
    display: block;
}

.product__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000;
}

.product__price {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.product__price-old {
    margin-right: 10px;
    color: #999;
}
.product__price-new {
    font-weight: 700;
    color: #F72464;
}


