.btn {
    display: inline-block;
    padding: 11px 33px 14px;
    background-color: $bg-btn;
    box-shadow: 0 4px 15px 0 rgba(123, 12, 46, 0.35);
    border-radius: 4px;

    
    
    font-family: $font-secondary;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $white;

    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
        box-shadow: 0 4px 25px rgba(184, 13, 64, 0.671);
        background-color: #ff3874;
    }
}

/* Button outline*/

.button-outline {    
    display: inline-block;
    padding: 10px 40px 11px;
    border-radius: 4px;
    border: 1px solid $bg-btn;
    background: $white;
    
    font-family: $font-secondary;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $grey;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        background-color: $bg-btn;
        color: $white;
    }
}

