.header__row {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.header__content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 670px;
}

.header__title {
    margin: 0;
    font-family: $font-main;
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    margin-bottom: 20px;
}

.header__text {
    font-size: 22px;
    line-height: 1.5; /* 33px */
    margin-bottom: 60px;
}