*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Section */

.section-button-wrapper {
    text-align: center;
}

/* Featured */

.featured-section {
    padding-top: 60px;
    padding-bottom: 70px;

}


.section-new {
    padding-top: 60px;
    padding-bottom: 70px;

}

.section-featured {
    padding-top: 70px;
    padding-bottom: 70px;

}
